body {
    background-color: #9abdea;
}
#title {
    color: maroon;
    display: flex;
    justify-content: center;
    align-content: center;
}
img {
    width: 120px;
    height: 180px;
}
#mainContainer {
    display:flex;
    align-items: center;
    padding-left: 20px;
    border: 2px solid red;
}
.posterImage {
    padding:20px;
    border: 2px solid blue;
}

